<form class="example-form">
    <table style="width:100%">
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Meeting Name</mat-label>
                    <input matInput [(ngModel)]="name" [ngModelOptions]="{standalone: true}" required >
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Meeting Avatar</mat-label>
                    <input matInput [(ngModel)]="avatar" [ngModelOptions]="{standalone: true}" required >
                </mat-form-field>
            </td>  
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Type of Sport</mat-label>
                    <input matInput [(ngModel)]="typeOfSport" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            Date
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Start Date</mat-label>
                    <input matInput type="date" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>End Date</mat-label>
                    <input matInput type="date" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            Location
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Latitude</mat-label>
                    <input matInput type="number" [(ngModel)]="lat" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Longitude</mat-label>
                    <input matInput type="number" [(ngModel)]="lng" [ngModelOptions]="{standalone: true}" required>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <button type="button" (click)="createClick()">Create</button>
        </tr>
    </table> 
</form>
