.card{
    height: 500px;
    width: 500px;
    margin: 20px;
}

.drawer-container{
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: 10px;
}