  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    place-items: center;
    flex-wrap: wrap;
    margin-top: 120px;
}
  